Django==1.8.6
Pillow==3.0.0
PyPDF2==1.25.1
django-extensions==1.5.9
-e git+https://github.com/chrisglass/django-xhtml2pdf.git@94c0d1e42c4ac05ba6ec8f1535700ab78ae1bb26#egg=django_xhtml2pdf
html5lib==0.9999999
reportlab==3.2.0
six==1.10.0
xhtml2pdf==0.0.6
