<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>Book Index</h1>
    <ul>
        <li><a href='{% url "books_plain_old_view" %}'>books_plain_old_view</a></li>
        <li><a href='{% url "books_plain_old_view_content_disp" %}'>books_plain_old_view_content_disp</a></li>
        <li><a href='{% url "book_pdf_list_view" %}'>book_pdf_list_view</a></li>
        <li><a href='{% url "book_pdf_detail_view" 1 %}'>book_pdf_list_view</a></li>
        <li><a href='{% url "book_list_ex" %}'>book_list_ex</a></li>
        <li><a href='{% url "cover_book_list" %}'>cover_book_list</a></li>
        <li><a href='{% url "book_pdf_card_list" %}'>book_pdf_card_list</a></li>
        
    </ul>
    
</body>
</html>